/* Container */
.container {
  padding: 16px;
}

/* Toolbar spacing */
.example-spacer {
  flex: 1 1 auto;
}

/* Header */
.header_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
  gap: 10px;
}

/* Main layout */
.dashboard_control {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

/* Form */
.form {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Table */
.table_control {
  flex: 2;
  min-width: 300px;
}

/* Make table scrollable on small screens */
.table-wrapper {
  overflow-x: auto;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  .example-spacer {
   display: contents;
  }

  .dashboard_control {
    flex-direction: column;
  }

  .header_control {
    flex-direction: column;
    align-items: flex-start;
  }

  mat-toolbar {
    flex-wrap: wrap;
  }

  mat-toolbar button {
    font-size: 12px;
  }
}