/* You can add global styles to this file, and also import other style files */
body, html, h1{
    margin:auto ;
    padding: 0;
}



.header{
    height: 100px;
    background-color: rgb(34, 38, 67);
    color: #fff;
    
}